- content_for(:navigation) do
	%ol.breadcrumb
		%li
			%a{href:'/'}= t('top')
		%li
			= t('student')
%h2= t('student')
%ul
- @students.each do |student|
	%li
		%a{href:"/students/#{student.id}"}= student.account.screen_name
		(
		= student.course.name
		= t("model.course.type.#{student.course.type}")
		= t("model.student.type.#{student.type}")
		)
