- content_for(:navigation) do
	%ol.breadcrumb
		%li
			%a{href:'/'}= t('top')
		%li
			%a{href:'/students'}= t('student')
		%li
			%a{href:"/students/#{@student.id}"}= @student.account.screen_name
		%li= t('timetable')
%h2= t('timetable')
= timetable(@student.lectures)
