- content_for(:navigation) do
	%ol.breadcrumb
		%li
			%a{href:'/'}= t('top')
		%li
			= t('teacher')
%h2= t('teacher')
%ul
- @teachers.each do |teacher|
	%li
		%a{href:"/teachers/#{teacher.id}"}= teacher.account.screen_name
		- if teacher.course
			(
			= teacher.course.name
			= t("model.course.type.#{teacher.course.type}")
			= t("model.teacher.type.#{teacher.type}")
			)
