- content_for(:navigation) do
	%ol.breadcrumb
		%li
			%a{href:'/'}= t('top')
		%li
			= t('paper')
%h2= t('paper')
- if current_account
	%a{href:'/papers/new'}= t('write')
%ul
- @papers.each do |paper|
	%li= list_item(:paper, paper)
