%div
	%div.row
		%div.col-md-6
			%img{src:'https://farm6.staticflickr.com/5161/5329705003_c50082b735_o.jpg',style:'width:100%'}
		%div#teachers.col-md-6
			%a.twitter-timeline{:href=>"https://twitter.com/search?q=%23kihwanuji-univ",:'data-widget-id'=>"495542858175115264"}
			:javascript
				!function(d,s,id){
					var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https'
					if(!d.getElementById(id)){
						js=d.createElement(s)
						js.id=id
						js.src=p+"://platform.twitter.com/widgets.js"
						fjs.parentNode.insertBefore(js,fjs)
					}
				}(document,"script","twitter-wjs")
%div
	%div.row
		%div.col-md-6
			%h2= t('student')
			%ul
				- Student.limit(10).each do |student|
					%li
						%a{href:"/students/#{student.id}"}= student.account.screen_name
						- if student.course
							(
							= student.try(:course).try(:name)
							= t("model.course.type.#{student.course.type}")
							= t("model.student.type.#{student.type}")
							)
		%div.col-md-6
			%h2= t('teacher')
			%ul
				- Teacher.limit(10).each do |teacher|
					%li
						%a{href:"/teachers/#{teacher.id}"}= teacher.account.screen_name
						-if teacher.course
							(
							= teacher.try(:course).try(:name)
							= t("model.course.type.#{teacher.course.type}")
							= t("model.teacher.type.#{teacher.type}")
							)
	%div.row
		%div.col-md-6
			%h2= t('model.course.type.bachelor')
			%ul
				- Course.where(type: 'bachelor').limit(10).each do |course|
					%li
						%a{href:"/courses/#{course.id}"}
							= "#{course.name}#{t("model.course.type.#{course.type}")}"
		%div.col-md-6
			%h2= t('model.course.type.graduate')
			%ul
				- Course.where(type: 'graduate').limit(10).each do |course|
					%li
						%a{href:"/courses/#{course.id}"}
							= "#{course.name}#{t("model.course.type.#{course.type}")}"
	%div.row
		%div.col-md-6
			%h2= t('lecture')
			%ul
				- Lecture.limit(10).each do |lecture|
					%li
						%a{href:"/lectures/#{lecture.id}"}
							= lecture.title
		%div.col-md-6
			%h2= t('paper')
			%ul
				- Paper.limit(10).each do |paper|
					%li
						%a{href:"/papers/#{paper.id}"}
							= paper.title
